<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/jquery.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="novoTicketController as ctrl">
      <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">Open <blue>Ticket</blue></h1>

        
        <button class="button button-clear">          
            <i class="icon ion-android-exit"></i>          
        </button>
        
      </ion-header-bar>

      <ion-content class="big-bottom">
        <br>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Assunto</span>
            <input type="text" placeholder="Sobre o..." id="assunto" ng-model="ctrl.assunto">
          </label>

          <label id="label-setor" class="item item-input item-stacked-label p-20">
            <span class="input-label">Setor</span>                
              <input id="setor" ng-model="ctrl.setor" type="text" placeholder="T.I" ng-click="ctrl.showSetor()" readonly>
          </label>
          <ul id="setor-list" class="list" ng-class="ctrl.setorClass">                  
                <li class="item"  ng-click="ctrl.changeSetor('T.I')">T.I</li>
                <li class="item"  ng-click="ctrl.changeSetor('R.H')">R.H</li>
                <li class="item"  ng-click="ctrl.changeSetor('ADM')">ADM</li>
          </ul>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Mensagem</span>
            <textarea id="tct" placeholder="Sua mensagem aqui.."  ng-model="ctrl.mensagem"></textarea>
          </label>
      </div>

      <div class="button-bar p-5">
        <a class="button" ng-click="ctrl.getPhoto()">Tirar foto</a>
        <a class="button" >Gravar</a>
        <a class="button" ng-click="ctrl.enviar()">Enviar</a>
      </div>
          
      </ion-content>

      <div class="bar bar-footer bar-light">
        <a href="painel.html">
          <div class="title">Listar Tickets</div>
        </a>
      </div>   
    </ion-pane>

    <!--<script>
    function gravar() {
      var http = "http://sandbox.cachina.com.br/webservice.php";
      $.ajax({
        type: "POST",
        url: http,
        data: {  
                setor: $("#setor-list").val(),
                assunto: $("#assunto").val(),
                mensagem: $("#tct").val(),
                usuario: localStorage.getItem("id"),
                new_ticket: true,
            },
      })
        .done(function( msg ) {
          
          alert('Cadastrado com Sucesso')
          $("#setor-list").val(''),
          $("#assunto").val(''),
          $("#tct").val(''),

        })
        .fail(function(msg,a,b){

          console.log(msg)
          console.log(a)
          console.log(b)
        });
    }
    </script>
    -->

  </body>
</html>
